<html>
    <head>
        <title>tracker</title>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/api.js"></script>
        <script src="/js/handlebars.js"></script>
        <script src="/js/templates.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    </head>
    <body onLoad="init_page();">
        <div class="page" />
    </body>
</html>
