<script>
    $(document).ready(function() {
        getUser(function(user) {
            $("#nav_user").html(user.username + "<span class='caret'></span>");
            $(".navbar-brand").click(function() {
                view_budgets(user);
            });
            $("#settings").click(function() {
                view_edit_user(user);
            });
            $("#logout").click(function() {
                logout(function(data) {
                    view_login({failed:false});
                })
            });
        });
    });
</script>
<nav class="navbar navbar-default navbar-fixed-top">
    <a class="navbar-brand" href="#">&lt;/tracker&gt;</a>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" id="nav_user" href="#"></a>
            <ul class="dropdown-menu">
                <li id="settings"><a href="#">User Settings</a></li>
                <li id="logout"><a href="#">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
